<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    title Fake Screen
  body
    .wrapper
      .close-hint
      .title Fake Screens
      .options
        .option(id='win10')
          .img-container
            video(autoplay loop muted inline)
              source(src="src/assets/win10.mp4" type="video/mp4")
          .title Win10 update crash
        .option(id='win10-blue')
          .img-container
            img(src="src/assets/win10-blue.jpg" alt="win10-blue")
          .title Win10 blue screen only
        .option(id='win10-update')
          .img-container
            video(autoplay loop muted inline)
              source(src="src/assets/win10-update.mp4" type="video/mp4")
          .title Win10 update
        .option(id='wannacry')
          .img-container
            img(src="src/assets/wannacry.png" alt="wannacry")
          .title Wanna Crypto
        .option(id='macOS')
          .img-container
            img(src="src/macOS/apple.svg" alt="macOS" style="width: 50px")
          .title macOS update
        .option(id='ubuntu1804')
          .img-container
            img(src="src/assets/ubuntu1804.jpg" alt="ubuntu1804")
          .title Ubuntu 18.04
        .option(id='mcdonald')
          .img-container
            img(src="src/assets/ubuntu1804.jpg" alt="mcdonald")
          .title Ubuntu 18.04

    #app
      .close
      .content
    script(src="src/index.js")
    