<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Crash
  body
    .wrapper
      h1 Choose your theme
      .options
        each option in [{id: 'win10',title:'windows 10'}, {id: 'win10-blue',title:'Blue screen'}, {id: 'win10-update',title:'Update 10 mins'}]
          .option(id=option.id)
            .img
            .title #{option.title}

    #app
      .close
      .content
    script(src="src/index.js")
    