.macos-wrapper {
  background: #000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.macos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.macos-container img {
  height: 150px;
  width: 150px;
  margin: 120px 0 180px 0;
}
.macos-container .progress {
  border: 1px solid rgba(240, 240, 240, 0.1);
  border-radius: 5px;
  height: 8px;
  width: 360px;
  margin-bottom: 30px;
  background: #1e1e1e;
  position: relative;
  overflow: hidden;
}
.macos-container .progress-bar {
  position: absolute;
  width: 0;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgba(240, 240, 240, 0.9);
}
.macos-container span {
  font-weight: 500;
  color: white;
}