@charset "UTF-8";
.mcdonalds-wrapper {
  font-family: "微軟正黑體";
  background: #d80000;
}
.mcdonalds-wrapper header {
  pointer-events: none;
  -webkit-overflow-scrolling: touch;
  z-index: 11;
  background: #d80000;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.05em;
}
.mcdonalds-wrapper header .hamburger {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 18px;
  height: 20px;
  width: 148px;
}
.mcdonalds-wrapper header .hamburger img {
  position: absolute;
  width: 20px;
  height: 20px;
}
.mcdonalds-wrapper header .hamburger * {
  transition: all 0.5s;
}
.mcdonalds-wrapper header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: none;
  flex: 1;
  height: 1em;
  font-weight: 600;
}
.mcdonalds-wrapper header .title .title-text {
  position: absolute;
}
.mcdonalds-wrapper header .title * {
  transition: all 0.5s;
}
.mcdonalds-wrapper header .how {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  pointer-events: none;
  width: 150px;
  height: 25px;
  line-height: 20px;
}
.mcdonalds-wrapper header .how .how-text {
  position: absolute;
}
.mcdonalds-wrapper header .how * {
  transition: all 0.5s;
}
.mcdonalds-wrapper header .next-hamburger {
  opacity: 0;
  position: absolute;
  pointer-events: all;
}
.mcdonalds-wrapper header .next-title-text {
  opacity: 0;
  position: absolute;
  transform: translateX(200%);
}
.mcdonalds-wrapper header .next-how-text {
  opacity: 0;
  position: absolute;
}
.mcdonalds-wrapper .coupons {
  background: whitesmoke;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow: scroll;
  position: absolute;
  padding-top: 50px;
  padding-bottom: 60px;
}
.mcdonalds-wrapper .coupons .coupon {
  background: skyblue;
  height: 65%;
}
.mcdonalds-wrapper .coupons .coupon .img-container {
  width: 100%;
  height: 78%;
  overflow: hidden;
}
.mcdonalds-wrapper .coupons .coupon img {
  width: 100%;
  transform: translateY(-27%);
}
.mcdonalds-wrapper .coupons .coupon .detail {
  height: 7%;
  font-size: 0.93em;
  display: flex;
  padding: 5px 40px;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #387d98;
}
.mcdonalds-wrapper .coupons .coupon .status {
  height: 15%;
  line-height: 60px;
  text-align: center;
  font-size: 1.25em;
  background: whitesmoke;
  letter-spacing: 6px;
}
.mcdonalds-wrapper .coupons .coupon .status .no-letter-spacing {
  letter-spacing: 0;
}
.mcdonalds-wrapper .coupons .coupon .underline {
  text-decoration: underline;
}
.mcdonalds-wrapper .coupon-page {
  transform: translateX(100%);
  transition: transform 0.4s;
  position: absolute;
  width: 100%;
  height: 100%;
}
.mcdonalds-wrapper .coupon-page img {
  width: 100%;
  height: 100%;
}
.mcdonalds-wrapper .coupon-page footer {
  pointer-events: all;
  transition: height 0.6s;
  background: #ff820d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  letter-spacing: 1px;
}
.mcdonalds-wrapper .coupon-page .exchange {
  display: flex;
  align-items: center;
  color: white;
  line-height: 22px;
}
.mcdonalds-wrapper .coupon-page .exchange img {
  margin: 10px;
  width: 22px;
  height: 22px;
}
.mcdonalds-wrapper footer {
  pointer-events: none;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: whitesmoke;
  border-top: 0.5px rgba(0, 0, 0, 0.2) solid;
  height: 60px;
}
.mcdonalds-wrapper footer .item {
  flex: 1;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mcdonalds-wrapper footer .item:not(:last-child) {
  border-right: 0.5px rgba(0, 0, 0, 0.2) solid;
}
.mcdonalds-wrapper footer img {
  width: 30px;
  height: 20px;
  margin-bottom: 3px;
}