html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
  font-family: 'Noto Sans TC', sans-serif;
}

*:after,
*:after,
*:placeholder-shown {
  font-family: inherit;
}
#app {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#app .close {
  position: absolute;
  height: 50px;
  width: 50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  transition: all 0s;
  cursor: pointer;
}
#app .close:before {
  content: "";
  position: absolute;
  left: 23px;
  top: 14px;
  transform: rotate(45deg);
  height: 23px;
  width: 2px;
  background: #161616;
}
#app .close:after {
  content: "";
  position: absolute;
  left: 23px;
  top: 14px;
  transform: rotate(-45deg);
  height: 23px;
  width: 2px;
  background: #161616;
}
#app .close:hover {
  opacity: 100;
  transition: all 0.3s;
}
#app .content {
  width: 100%;
  height: 100%;
}

.wrapper {
  padding: 50px;
}

.title {
  text-align: center;
  font-size: 4em;
}

.options {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.option {
  cursor: pointer;
  margin-right: 40px;
  margin-bottom: 40px;
}
.option video,
.option img {
  position: relative;
  width: 288px;
  height: 162px;
  background: #000;
  border-radius: 3px;
}
.option .title {
  font-size: 1.5rem;
}.app-wrapper {
  height: 100%;
  background: #0065cc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI light", Arial;
  word-break: break-word;
  cursor: none;
}

.update-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12%;
}

.message {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #fff;
}

.bottom {
  position: absolute;
  bottom: 12%;
}

.loader {
  margin: 40px 0 15px 0;
  width: 50px;
  height: 50px;
  position: relative;
}

.dot {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: spin 6s infinite;
  animation-timing-function: linear;
  opacity: 0;
}
.dot::before {
  border-radius: 50%;
  content: "";
  margin: auto;
  display: block;
  width: 5.5px;
  height: 5.5px;
  background: white;
}

.dot:nth-child(2) {
  animation-delay: 240ms;
}

.dot:nth-child(3) {
  animation-delay: 480ms;
}

.dot:nth-child(4) {
  animation-delay: 720ms;
}

.dot:nth-child(5) {
  animation-delay: 960ms;
}

@keyframes spin {
  0% {
    transform: rotate(-100deg);
    opacity: 20;
  }
  4% {
    transform: rotate(-10deg);
    opacity: 100;
  }
  27% {
    transform: rotate(110deg);
    opacity: 100;
  }
  33% {
    transform: rotate(350deg);
    opacity: 100;
  }
  56% {
    transform: rotate(460deg);
    opacity: 100;
  }
  61% {
    transform: rotate(630deg);
    opacity: 0;
  }
}.blue-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 12%;
}

.face {
  font-size: 9em;
  margin-bottom: 50px;
  color: #fff;
}

.error {
  padding: 30px 0 70px 0;
  color: #5bdbea;
}