@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,500");
.ubuntu1804-wrapper {
  position: relative;
  font-family: Ubuntu;
  height: 100%;
}
.ubuntu1804-wrapper header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  border: 0;
  background: rgba(0, 0, 0, 0.2);
}

.ubuntu1804-login-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top, #460746, #1e0e20);
}
.ubuntu1804-login-container .content {
  text-shadow: -1px 2px 1px #323232;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-bottom: 20px;
}
.ubuntu1804-login-container footer {
  color: #fff;
  position: fixed;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
}

.ubuntu1804-time-modal {
  transition: transform 1s;
  height: 100%;
  transform: translateY(-100%);
  background: url(ubuntu1804.9e9ecd6f.jpg);
  background-size: cover;
}
.ubuntu1804-time-modal .content {
  text-shadow: -1px 2px 1px #323232;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-bottom: 20px;
}
.ubuntu1804-time-modal .content .time {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 7px;
}
.ubuntu1804-time-modal .content .date {
  font-size: 1.9rem;
  font-weight: 100;
  text-align: center;
}