.wannacry-wrapper {
  height: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: auto;
  font-family: sans-serif;
  overflow: scroll;
}
.wannacry-wrapper .content {
  display: flex;
}
.wannacry-wrapper .wannacry-container {
  background: darkred;
  border-radius: 2px;
  border: 3px lightgray solid;
  border-right-color: darkgray;
  border-bottom-color: darkgray;
  transform: scale(0.9);
  font-family: sans-serif;
}
.wannacry-wrapper header {
  height: 24px;
  border-bottom: lightgray 1px solid;
  background: linear-gradient(to right, #07126e, #a3c5ed);
  display: flex;
  align-items: center;
}
.wannacry-wrapper header img {
  margin: 2px 4px;
  width: 15px;
  height: 15px;
}
.wannacry-wrapper header span {
  flex-grow: 1;
  font-family: Arial;
  color: #fff;
}
.wannacry-wrapper header button {
  background: lightgray;
  border: 2px gray solid;
  border-top-color: lightgray;
  border-left-color: lightgray;
  margin-bottom: 1px;
  margin-right: 2px;
  width: 20px;
  height: 20px;
  position: relative;
}
.wannacry-wrapper header button:before {
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  left: 7px;
  top: 1px;
  width: 2px;
  height: 14px;
  background: #000;
}
.wannacry-wrapper header button:after {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  left: 7px;
  top: 1px;
  width: 2px;
  height: 14px;
  background: #000;
}
.wannacry-wrapper .left {
  width: 280px;
}
.wannacry-wrapper .left .logo {
  width: 100%;
  padding-top: 7px;
  text-align: center;
}
.wannacry-wrapper .left .logo img {
  border: 3px solid lightgray;
  border-right-color: #868788;
  border-bottom-color: darkgray;
  border-radius: 2px;
  width: 150px;
  height: 150px;
  margin: auto;
}
.wannacry-wrapper .info-container {
  border: 2px solid lightgray;
  margin: 10px;
  padding: 10px 3px;
  font-weight: 700;
}
.wannacry-wrapper .info-container .title {
  text-align: center;
  color: yellow;
  margin-bottom: 5px;
  font-size: 1rem;
}
.wannacry-wrapper .info-container .infos {
  padding-top: 5px;
  flex-grow: 1;
}
.wannacry-wrapper .info-container .info {
  text-align: center;
  color: #fff;
  min-height: 1em;
}
.wannacry-wrapper .info-container .time {
  font-size: 2em;
  height: 40px;
  font-weight: 100;
}
.wannacry-wrapper .info-container .bar .img {
  height: 100%;
  width: 20px;
  border: 1px solid gray;
  border-right-color: lightgray;
  border-bottom-color: lightgray;
  background: linear-gradient(to bottom, #0ad700, red);
  position: relative;
}
.wannacry-wrapper .info-container .bar .img .cover {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  background: darkred;
}
.wannacry-wrapper footer {
  display: flex;
}
.wannacry-wrapper .contacts {
  margin: 10px;
  padding: 17px;
}
.wannacry-wrapper .contact {
  cursor: pointer;
  color: #7be2e2;
  display: block;
}
.wannacry-wrapper .contact strong {
  font-size: 1.1em;
  color: #7bdfdf;
}
.wannacry-wrapper .contact:not(:last-child) {
  margin-bottom: 20px;
}
.wannacry-wrapper .right {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.wannacry-wrapper .right .top-bar {
  position: relative;
  margin: 10px;
  margin-right: 0;
  display: flex;
}
.wannacry-wrapper .announcement {
  color: #fff;
  line-height: 0.8em;
  font-size: 1.2em;
  flex-grow: 1;
  text-align: center;
  font-weight: 700;
}
.wannacry-wrapper .lang {
  border: #5a5a5a 2px solid;
  border-right-color: lightgray;
  border-bottom-color: lightgray;
}
.wannacry-wrapper .lang select {
  background: transparent;
  width: 150px;
  height: 22px;
  color: #fff;
}
.wannacry-wrapper .manuals {
  font-family: "Times New Roman", Times, serif;
  background: #fff;
  flex-grow: 1;
  overflow-y: scroll;
  height: 300px;
  border: 2px solid gray;
  border-right: 0;
  margin-bottom: 10px;
}
.wannacry-wrapper .manual .title {
  text-shadow: none;
  color: black;
  text-align: left;
  font-size: 1.2em;
  font-weight: 900;
}
.wannacry-wrapper .manual:not(:last-child) {
  margin-bottom: 20px;
}
.wannacry-wrapper .bitcoins {
  display: flex;
  border: 2px solid lightgray;
  padding: 10px 0;
}
.wannacry-wrapper .bitcoins img {
  border: 2px solid lightgray;
  width: 170px;
  height: 66px;
}
.wannacry-wrapper .bitcoins .text {
  margin-left: 10px;
  flex-grow: 1;
}
.wannacry-wrapper .bitcoins .text .hint {
  margin-bottom: 15px;
  font-weight: 700;
}
.wannacry-wrapper .bitcoins .text .inputs {
  height: 50%;
  display: flex;
}
.wannacry-wrapper .bitcoins .text .inputs input {
  border: #5a5a5a 3px solid;
  border-right-color: lightgray;
  border-bottom-color: lightgray;
  color: #fff;
  background: darkred;
  margin-right: 3px;
  flex-grow: 1;
  padding: 3px 0 10px 5px;
  font-size: 1em;
  font-weight: 700;
  pointer-events: none;
}
.wannacry-wrapper .bitcoins .text .inputs button {
  margin-right: 5px;
  background: lightgray;
}
.wannacry-wrapper .buttons {
  display: flex;
  margin: 10px 0;
}
.wannacry-wrapper .buttons button {
  background: lightgray;
  font-weight: 700;
  font-size: 1.2em;
  height: 35px;
  flex: 1;
}
.wannacry-wrapper .buttons button:not(:last-child) {
  margin-right: 40px;
}
.wannacry-wrapper .yellow {
  color: yellow;
}
.wannacry-wrapper .red {
  color: darkred;
}
.wannacry-wrapper .underline {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .wannacry-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .wannacry-wrapper .wannacry-container {
    transform: scale(1);
  }
}