@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,500');

.ubuntu1804-wrapper {
  font-family: Ubuntu;
  height: 100%;
}
.ubuntu1804-time-modal {
  height: 100%;
  background: url(./ubuntu18.jpg);
  background-size: cover;   
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: rgba(0, 0, 0, 0.2);
  }
  .content {
    text-shadow: -1px 2px 1px rgb(50,50,50);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
  }
  .content .time {
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 7px;
  }
  .content .date {
    font-size: 1.9rem;
    font-weight: 100;
    text-align: center;
  }
  footer {
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
    text-align: center;
  }
}