.ubuntu1804-wrapper
  header
  .ubuntu1804-login-container
    section.content login todo
    footer ubuntu 18.04
  .ubuntu1804-time-modal
    section.content
      div.time-container
        div.time 22:22
        div.date Tuesday, February 2
