.mcdonald-wrapper {
  font-family: '微軟正黑體';
  height: 100%;
  overflow: scroll;
  header {
    background: #d80000;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.05em;
    .hamburger {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 18px;
      width: 100px;
      img {
        width: 20px;
        height: 20px;
      }
    }
    .title {
      text-align: center;
      text-shadow: 0;
      flex: 1;
      font-weight: 600;
    }
    .how-to {
      text-align: right;
      padding-right: 16px;
      width: 100px;
    }
  }

  .coupons {
    padding-top: 50px;
    padding-bottom: 60px;
    overflow: scroll;
    .coupon {
      background: skyblue;
      img {
        height: 300px;
        width: 100%;
      }
      .detail {
        font-size: 0.93em;
        display: flex;
        padding: 5px 40px;
        justify-content: space-between;
        align-items: center;
        color: white;
        background: #387d98;
      }
      .status {
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 1.25em;
        background: rgb(245, 245, 245);
        letter-spacing: 6px;
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: rgb(245, 245, 245);
    border-top: 0.5px rgba(0, 0, 0, 0.2) solid;

    .item {
      flex: 1;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .item:not(:last-child) {
      border-right: 0.5px rgba(0, 0, 0, 0.2) solid;
    }
    img {
      width: 20px;
      height: 20px;
      margin-bottom: 3px;
    }
  }
}
