.google-wrapper
  header  
    .text Gmail
    .text Images
    img(src="./smile.svg", alt="")    
  section.content
    img.logo(alt="Google" height="92" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" srcset="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png 1x, https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png 2x" width="272")
    .search-bar
      input#search(type="text", name="search")
      .icon
        img(src="https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png")
    .buttons
      button#enter Google Search
      button I'm Feeling Lucky
  footer
    section.upper
      .items.left
        .item Taiwan
    section.lower
      .items.left
        .item Advertising
        .item Business
        .item About
      .items.right
        .item Privacy
        .item Terms
        .item Settings
