.win10-update-wrapper
  .update-container
    .loader
      .dot
      .dot
      .dot
      .dot
      .dot
    .message. 
      Working on updates <span id="progress">0</span>% complete.
    .message Don't turn off your PC. This will take a while.
    .message.bottom Your PC will restart several times
