.app-wrapper
  .blue-container
    .face :
      span.mouth (
    .message Your PC ran into a problem that it couldn't
    .message handle, and now it needs to restart.
    .error You can search for the error online: SYSTEM_THREAD_EXCEPTION_PONIES_NOT_HANDLED (pci.sys)
    .message Restart your PC manually