.blue-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.face {
  font-size: 9em;
  margin-bottom: 50px;
  color: #fff;
  .mouth {
    font-family: Sans-Serif;
  }
}
.error {
  font-family: Sans-Serif;
  padding: 30px 0 70px 0;
  color: #5bdbea;
}
