.mcdonalds-wrapper {
  font-family: "微軟正黑體";
  background: #d80000;
  header {
    pointer-events: none;
    -webkit-overflow-scrolling: touch;
    z-index: 11;
    background: #d80000;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.05em;
    .hamburger {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 18px;
      height: 20px;
      width: 148px;
      img {
        position: absolute;
        width: 20px;
        height: 20px;
      }
      * {
        transition: all 0.5s;
      }
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: none;
      flex: 1;
      height: 1em;
      font-weight: 600;
      .title-text {
        position: absolute;
      }

      * {
        transition: all 0.5s;
      }
    }
    .how {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 16px;
      pointer-events: none;
      width: 150px;
      height: 25px;
      line-height: 20px;
      .how-text {
        position: absolute;
      }

      * {
        transition: all 0.5s;
      }
    }
    .next-hamburger {
      opacity: 0;
      position: absolute;
      pointer-events: all;
    }
    .next-title-text {
      opacity: 0;
      position: absolute;
      transform: translateX(200%);
    }
    .next-how-text {
      opacity: 0;
      position: absolute;
    }
  }

  .coupons {
    background: rgb(245, 245, 245);
    -webkit-overflow-scrolling: touch;
    height: 100%;
    overflow: scroll;
    position: absolute;
    padding-top: 50px;
    padding-bottom: 60px;
    .coupon {
      background: skyblue;
      height: 65%;
      .img-container {
        width: 100%;
        height: 78%;
        overflow: hidden;
      }
      img {
        width: 100%;
        transform: translateY(-27%);
      }
      .detail {
        height: 7%;
        font-size: 0.93em;
        display: flex;
        padding: 5px 40px;
        justify-content: space-between;
        align-items: center;
        color: white;
        background: #387d98;
      }
      .status {
        height: 15%;
        line-height: 60px;
        text-align: center;
        font-size: 1.25em;
        background: rgb(245, 245, 245);
        letter-spacing: 6px;
        .no-letter-spacing {
          letter-spacing: 0;
        }
      }
      .underline {
        text-decoration: underline;
      }
    }
  }
  .coupon-page {
    transform: translateX(100%);
    transition: transform 0.4s;
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
    footer {
      background: #ff820d;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.25em;
      letter-spacing: 1px;
    }
    .exp {
      color: white;
    }
  }

  footer {
    pointer-events: none;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: rgb(245, 245, 245);
    border-top: 0.5px rgba(0, 0, 0, 0.2) solid;
    height: 60px;

    .item {
      flex: 1;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .item:not(:last-child) {
      border-right: 0.5px rgba(0, 0, 0, 0.2) solid;
    }
    img {
      width: 30px;
      height: 20px;
      margin-bottom: 3px;
    }
  }
}
