.mcdonalds-wrapper {
  font-family: '微軟正黑體';
  width: 100%;
  height: 100%;
  background: rgb(238, 238, 238);
  .container {
    height: 100%;
  }
  header {
    -webkit-overflow-scrolling: touch;
    z-index: 11;
    background: #d80000;
    height: 6.7vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.05em;
    .hamburger {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 18px;
      height: 20px;
      width: 148px;
      img {
        position: absolute;
        width: 19px;
        height: 19px;
      }
      * {
        transition: all 0.5s;
      }
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: none;
      flex: 1;
      height: 1em;
      font-weight: 600;
      .title-text {
        position: absolute;
      }

      * {
        transition: all 0.4s;
      }
    }
    .how {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 16px;
      width: 150px;
      height: 25px;
      line-height: 20px;
      .how-text {
        position: absolute;
      }

      * {
        transition: all 0.5s;
      }
    }
    .next-hamburger {
      opacity: 0;
      position: absolute;
    }
    .next-title-text {
      opacity: 0;
      position: absolute;
      transform: translateX(200%);
    }
    .next-how-text {
      opacity: 0;
      position: absolute;
    }
  }

  .coupons {
    background: rgb(238, 238, 238);
    -webkit-overflow-scrolling: touch;
    width: 100%;
    overflow: scroll;
    position: absolute;
    header {
      z-index: 1;
      position: relative;
      background: rgb(238, 238, 238);
    }
    footer {
      position: relative;
      border-color: transparent;
    }
    .coupon {
      height: 55vh;
      .img-container {
        width: 100%;
        height: 77%;
        overflow: hidden;
      }
      img.bg {
        width: 100%;
        transform: translateY(-29%);
      }
      .detail {
        height: 7.5%;
        font-size: 0.95em;
        display: flex;
        padding: 5px 40px;
        justify-content: space-between;
        align-items: center;
        color: white;
        background: #132f68;
      }
      .status {
        height: 15.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25em;
        background: rgb(238, 238, 238);
        letter-spacing: 6px;
      }
      .underline {
        text-decoration: underline;
      }
    }
  }
  .coupon-page {
    transform: translateX(100%);
    transition: transform 0.4s;
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      transform: translateY(2.5%);
    }
    footer {
      transition: height 0.6s;
      background: #ff820d;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.25em;
      letter-spacing: 1px;
    }
  }

  footer {
    -webkit-overflow-scrolling: touch;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: rgb(238, 238, 238);
    border-top: 0.5px rgba(0, 0, 0, 0.2) solid;
    height: 9vh;

    .item {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .item:not(:last-child) {
      border-right: 0.5px rgba(0, 0, 0, 0.2) solid;
    }
    img {
      width: 30px;
      height: 20px;
      margin-bottom: 3px;
    }
  }
  .exchange {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 22px;
  }
  .coupons .exchange {
    color: black;
  }
  .coupon-page,
  .coupons .coupon {
    .clock {
      margin-right: 10px;
      width: 20px;
    }
  }
  .no-letter-spacing {
    letter-spacing: 1px !important;
  }
  .exchanged-exp {
    padding-left: 8px;
  }
}
