.mcdonalds-wrapper
  .container
    header
      .hamburger 
        img(src="./menu.svg")
        img.next-hamburger(src="./arrow.svg" alt="123")
      .title 
        .title-text 優惠券
        .next-title-text 優惠券
      .how 
        .how-text 使用說明 
        .next-how-text 搜尋附近餐廳
    section.coupons
      header
      .coupon
        .img-container
          img.bg(src="./coupon.jpg")
        .detail
          .exp 期限：2018 年 12 月 13 日
          .remain 尚餘：2 天 2 小時
        .status.underline 兌換優<span class="no-letter-spacing">惠</span>
      .coupon
        .img-container
          img.bg(src="./coupon.jpg")
        .detail
          .exp 期限：2018 年 12 月 13 日
          .remain 尚餘：0 天 0 小時
        .status 已兌換
      .coupon
        .img-container
          img.bg(src="./coupon.jpg")
        .detail
          .exp 期限：2018 年 12 月 13 日
          .remain 尚餘：0 天 0 小時
        .status 已截止
      footer
    footer
      .item
        img(src="./gift.svg")
        .item-label 優惠券
      .item
        img(src="./smile.svg")        
        .item-label 歡樂貼
      .item
        img(src="./vip.svg")
        .item-label 獨享券
    section.coupon-page
      img(src="./coupon.jpg")
      footer
        .exchange 兌換優惠
    

