body {
  background: #fff9c4;
}

#app {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .close {
    z-index: 10;
    position: absolute;
    height: 50px;
    width: 50px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    transition: all 0s;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      left: 23px;
      top: 14px;
      transform: rotate(45deg);
      height: 23px;
      width: 2px;
      background: rgb(22, 22, 22);
    }
    &:after {
      content: '';
      position: absolute;
      left: 23px;
      top: 14px;
      transform: rotate(-45deg);
      height: 23px;
      width: 2px;
      background: rgb(22, 22, 22);
    }
  }
  .close:hover {
    opacity: 100;
    transition: all 0.3s;
  }
  .content {
    width: 100%;
    height: 100%;
  }
}

.wrapper {
  padding: 50px;
}
.title {
  text-shadow: #3dc1d3 1px 1px 3px;
  color: #63cdda;
  text-align: center;
  font-size: 2em;
}
.options {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 288px);
  grid-row-gap: 50px;
  grid-column-gap: 60px;
  justify-content: center;
}
.option {
  cursor: pointer;
  width: 288px;
  height: 162px;
  .img-container {
    position: absolute;
    box-shadow: 3px 3px 30px rgb(134, 130, 130);
    background: #000;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
    width: 288px;
    height: 162px;
    &:after {
      transition: background 0.2s;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
    }
    &:hover:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }
  }
  video,
  img {
    border-radius: 3px;
    position: relative;
    width: 288px;
    height: 162px;
  }
  &:hover .title {
    opacity: 1;
    top: 40%;
  }
  .title {
    pointer-events: none;
    transition: all 0.5s;
    opacity: 0;
    top: 20%;
    color: white;
    position: relative;
    font-size: 1.5rem;
    text-shadow: black 1px 1px 2px;
  }
}

.close-hint {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-right: 1px rgb(200, 200, 200) dashed;
  border-bottom: 1px rgb(200, 200, 200) dashed;
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 23px;
    top: 14px;
    height: 23px;
    width: 2px;
    background: rgb(200, 200, 200);
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
